{% extends "base.html" %}
{% load crispy_forms_tags %}

{% if messages %}
{% for message in messages %}
    <div class="alert alert-{{ message.tags }}">
      {{ message }}
    </div>
{% endfor %}
{% endif %}

{% block content %}
    <article class="media content-section">
      <img class="rounded-circle article-img" src="{{ object.author.profile.image.url }}">
      <div class="media-body">
        <div class="article-metadata">
          <div>
            <h6>{{ post.author }}</6>
            <small class="text-muted ml-1">{{ post.date_posted }}</small>
          </div>          
          {% if object.author == user %}
            <div class="mt-2">
              <a class="btn btn-success btn-sm mt-1 mb-1" href="{% url 'blog:post-update' slug=post.slug %}">Update</a>
              <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'blog:post-delete' slug=post.slug %}">Delete</a>
            </div>
          {% endif %}
        </div>
        <h1 class="article-title">{{ object.title }}</h1>
        <p class="article-content">{{ object.content }}</p>
      </div>
    </article>
     <!-- The DetailView expects that the model name would be 'object' instead of the model's own name. 
      But to use the model name itself is also correct. And standard is to be maintained. That's it! -->

     <div class="col-md-6 card mb-4  mt-5 ">
      <div class="card-body">
        <h1>Leave a comment</h1>
        <hr> 
        {% if user.is_authenticated %}
          <form method="POST">
          {% csrf_token %}
          <table>
          {{ commentform|crispy }}
          </table>
          <button type="submit" class="btn btn-outline-primary">Submit</button>
          </form>
          {% endif %}
      </div>
    </div>

    <div class="col-md-6 card mb-4  mt-3 ">
      <div class="card-body">
        <h2 class="text-center">{{ post.comments.count }} Comments so far </h2> <!-- "comments.count"......'s' is a must -->

        
        {% for comment in post.comments.all %}
          <div class="comments">
          <p class="font-weight-bold">
            {{ comment.name }}                              
            <span class=" text-muted font-weight-normal">
              {{ comment.date_created }}
            </span>
          </p>
          {{ comment.text|linebreaks }}
          </div>
        {% endfor %}
      

      </div>
    </div>
     
{% endblock content %}



